<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/manager.css">
    <title>PasswordKeepR</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        color: #333;
      }

      /* Add styles for dark mode */
      .dark-mode body {
        background-color: #333;
        color: #f2f2f2;
      }
      .mode-switch {
        position: absolute;
        top: 40px;
        left: 40px;
      }
         .nav-bar {
        position: absolute;
        top: 40px;
        right: 40px;
      }
      #register {
        margin: 1em;
      }
      #login {
        margin: 1em;
      }
      #logout {
        margin: 1em;
      }
    </style>
  </head>
  <body>
    <div class="mode-switch">
      <button id="mode-switch">Dark Mode</button>
    </div>
    <section class ='nav-bar'>
      <% if(!user_id) { %>
        <div>
      <button id="register" onclick="window.location.href='/register';">Register</button>
      </div>
      <div>
        <button id="login" onclick="window.location.href='/login';">Login</button>
      </div>
      <% } else{ %>
        <div>
          <form method="POST" action="/logout"><button type="Submit">Logout</button></form>
        </div>
        <div>
        </div>
         <% } %>
    </section>
       <h1>PasswordKeepR</h1>
    <form action="/manager" method="post">
      <label>🌍 Site Name: </label>
      <input type="text" name="siteName" placeholder="Enter Site Name">
      <br>
      <label>🔗 Site URL: </label>
      <input type="text" name="siteURL" placeholder="Enter Site URL">
      <br>
      <label>🙂 Username: </label>
      <input type="text" name="username" placeholder="Enter Username">
      <br>
      <label>🔑 Password: </label>
      <input type="text" name="password" placeholder="Enter Password">
      <br>
      <button type="submit">Add Password</button>
    </form>
    <table class="first-row">
      <tr>
        <th>ID</th>
        <th>Site Name</th>
        <th>Site URL</th>
        <th>Username</th>
        <th>Password</th>
        <th>Copy?</th>
        <th>Edit</th>
      </tr>
      <!-- This code shows the password table but gives us an error when we submit new password... -->
      <% for (let i = 0; i < passwords.length; i++) { %>
        <tr>
          <td id="<%= passwords[i].id %>"><%= passwords[i].id %></td>
          <td><%= passwords[i].site_name %></td>
          <td><%= passwords[i].site_url %></td>
          <td><%= passwords[i].site_username %></td>
          <td>
            <button id="<%= i %>" onclick="togglePasswordVisibility(this)">Show</button>
            <span id="password<%= i %>" style="display: none;">
              <%= passwords[i].site_password %>
            </span>
          </td>
          <td>
            <button id="copy<%= i %>" onclick="copyPasswordToClipboard(this)">Copy!</button>
          </td>
          <td>
            <form action="/edit" method="POST">
              <input type="hidden" value="<%= passwords[i].id %>" name="password_Id">
              <input type="password" name="password">
              <button type="submit" class="btn btn-primary">Edit!</button>
            </form>
          </td>
        </tr>
      <% } %>
    </table>
    <script>
      function togglePasswordVisibility(element) {
        let passwordId = 'password' + element.id;
        let passwordElement = document.getElementById(passwordId);
        if (passwordElement.style.display === 'none') {
          passwordElement.style.display = 'inline';
          element.innerText = 'Hide';
        } else {
          passwordElement.style.display = 'none'
          element.innerText = 'Show';
        }
      }
      function copyPasswordToClipboard(element) {
        let passwordId = 'password' + element.id.slice(-1);
        let passwordElement = document.getElementById(passwordId);
        let password = passwordElement.innerText;
        navigator.clipboard.writeText(password).then(function() {
          alert("Password copied to clipboard!");
        }
      )}
    </script>
    <script>
      let modeSwitch = document.getElementById('mode-switch');
      modeSwitch.addEventListener('click', function() {
        document.body.classList.toggle('dark-mode');
      if (document.body.classList.contains('dark-mode')) {
        modeSwitch.innerText = 'Light Mode';
      } else {
        modeSwitch.innerText = 'Dark Mode';
      }
    });
    </script>
  </body>
</html>

<!-- Adding code so I can push to master -->
